
#chat-container {
    
    width: 50%;
    height: 50%;

    border: 1px solid #ccc;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

        
    overflow: hidden;
    
    display: flex;
    
    flex-direction: column;

    display: none;
}

#chat-box {



    flex-grow: 1; /* 대부분의 공간을 차지 */    
    
    width: 100%;

    min-height: 100px;   


    overflow-y: auto;
    background: #2ba8a2;


}

#input-container {

    width: 50%;
    height: 10%;

    display: flex; /* flex를 사용하여 내부 요소를 가로로 배열, 이게 없으면 전송버튼이 아래로 내려옴  */
    border: 1px solid #ccc; /* 구분선 추가 */
   
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;    

    display: none;
}

#input-text {
    flex-grow: 1; /* 대부분의 공간을 차지 */
    border: none; /* 테두리 제거 */
    padding: 10px; /* 적당한 패딩, 글자 입력 공간의 위와 아래의 공간이 넓어짐  */
}

#send-text {
    display: none; /* 기본적으로는 보이지 않음 */
    padding: 10px; /* 버튼의 패딩 */
}

.message {
    padding: 4px 8px;
    border-radius: 12px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    word-break: break-word;
}

.message-content {
    padding: 8px 12px;
}

.sender-name {
    font-size: 0.8em;
    margin-bottom: 2px;
}


.user .sender-name {
    
    align-self: flex-end;
    color: #fffefe;

}

.assistant .sender-name {
    align-self: flex-start;
    color: #f5f5f5;
}

.user .message-content {
    background-color: #ffecb3;
    color: #333;
    border-radius: 12px 12px 0 12px;
    align-self: flex-end;
}

.assistant .message-content {
    background-color: #ffffff;
    color: #333;
    border-radius: 12px 12px 12px 0;
    align-self: flex-start;
}