


#intro {
 
    display: flex;
    flex-direction:column;
    align-items: center;
    
    /*justify-content: center;*/

     /*margin-top: 100px;*/

    width: 25%;
    height: auto;

    min-width: 350px;    
    max-width: 1024px;
    background-color: #000000; /* 배경색 */

    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/

    border-radius: 10px;

    
}



.intro-header h1 {
    margin-top: 30px;
    margin-bottom: 0;
    color: white;
    font-size: 25px; /* 데스크탑 화면용 폰트 크기 */
}

.intro-header h2 {

    justify-content:baseline;

    /*margin-top: 0px;
    margin-bottom: 0;*/
    color: white;
    font-size: 12px; /* 데스크탑 화면용 폰트 크기 */
}

.chat-header-image {

    margin-top: 10px;
    width: 95%; /* 이미지가 컨테이너 너비에 맞게 조정되도록 함 */
    /*max-width: 360px; */
    height: 100%; /* 이미지의 높이가 비율을 유지하도록 조정 */
}

.input-intro-container {
 
    display: flex;
    flex-direction:column;

    align-items: center;

    width: 100%;

    /*max-width: 360px;*/

    /*display: grid;*/


    /*padding: 50px; */
    
    /*margin: 20px 0; /*상하 여백 */

    /*border-bottom-left-radius: 10px;
    /*border-bottom-right-radius: 10px;*/

    
    /*background-color: #f9f9f9; */
    
}

.input-days-container{

    font-size: 20px;    
    margin-top: 5px;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 10px; 
}

.input-hour-container {
    font-size: 20px;
    margin-top: 5px;    
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 10px; 

}




#id-startbutton {

    margin-top: 10px;    
    padding: 12px 20px; /* 패딩 조정 */
    min-width: 90px; /* 버튼의 최소 너비 설정 */
    border-radius: 50px;
    font-size: 20px; /* 폰트 크기 */
    background-color: #08794a;
    color: white;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;    

    margin-bottom: 5px;

}


.kakao-banner{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 95%;
    min-width: 350px;
    min-height: 100px;


    background-color: rgb(223, 59, 59);

    margin-top: 00px;
    margin-bottom: 00px;

}